.post-bubble {
  transition: background-color 0.3s;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  padding: 20px;
  margin: 20px 0;
  box-sizing: border-box;
  text-align: center;
}

.post-bubble img {
  width: 50%;
  border-radius: 20px;
}

a:link, a:visited, a:hover, a:active {
  color: var(--contrast-1);
}

@media (max-width: 600px) {
  .post-bubble img {
    width: 100%;
  }
}