.visible {
  z-index: 1 !important;
  opacity: 0.99999 !important;
}

.blog-content div {
  transition: background-color 0.3s;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  padding: 20px;
  margin: 20px 0;
  box-sizing: border-box;
  text-align: center;
  overflow-x: hidden;
}

.blog-content div img {
  width: 50%;
  border-radius: 20px;
}

.blog-content div p {
  text-align: left !important;
}

a:link, a:visited, a:hover, a:active {
  color: var(--contrast-1);
}

.blog-content ul {
  margin-right: 20px; 
  overflow-x: hidden;
  overflow-wrap: break-word;
  word-break: break-word;
}

.blog-content ul li{
    list-style-type: decimal;
    text-align: left;
}

@media (max-width: 600px) {
  .blog-content div img {
    width: 100%;
  }
}