<div class="about-container contrast-1">
  <h1 class="main-text" appFadeOnScroll>About Carlos Zatarain</h1>
  <div class="about-item left" appFadeOnScroll>
    <h2>Howdy!</h2>
    <p>If you're interested in my professional life, my resume sums it up pretty well.</p>
    <a href="assets/files/about/resume.pdf" class="download-button contrast-1" download>Download My Resume</a>
    <p>I talk about personal life here. Check out my blogs for progress on my projects or just my opinion on various topics.</p>
  </div>
  <div class="about-item right" appFadeOnScroll>
    <h2>Where I'm from</h2>
    <img src="assets/images/about/starfish.jpg">
    <p>I was born and raised in San Antonio, TX, but I'm Mexican at heart.</p>
    <p>Here is when I went snorkeling in the beautiful reefs of Cozumel, Mexico.</p>
    <p>My goal is to move to Norway one day and live close to the Fjords!</p>
  </div>
  <div class="about-item left" appFadeOnScroll>
    <h2>Favorite Meals</h2>
    <img src="assets/images/about/enchiladas.jpg">
    <p>Green Enchiladas easily takes the crown for my favorite meal.</p>
    <p>Other than that, I highly recommend Yellow Curry, Fetuccine Alfredo, or Carnita Tacos.</p>
  </div>
  <div class="about-item right" appFadeOnScroll>
    <h2></h2>
    <p></p>
  </div>
  <div class="about-item left" appFadeOnScroll>
    <h2>As you scroll up or down</h2>
    <p>On the page. (Basically, this page is WIP)</p>
  </div>
</div>