<div class="about-container contrast-1">
  <h1 class="main-text" appFadeOnScroll>About Carlos Zatarain</h1>
  <div class="about-item left" appFadeOnScroll>
    <h2>Howdy!</h2>
    <p>If you're interested in my professional life, my resume sums it up pretty well.</p>
    <a href="assets/files/about/resume.pdf" class="download-button contrast-1" download>Download My Resume</a>
    <p>I talk about personal life here. Check out my blogs for progress on my projects or just my opinion on various topics.</p>
  </div>
  <div class="about-item right" appFadeOnScroll>
    <h2>Where I'm from</h2>
    <img src="assets/images/about/starfish.jpg">
    <p>I was born and raised in San Antonio, TX, but I'm Mexican at heart.</p>
    <p>This photo is when I went snorkeling in the beautiful reefs of Cozumel, Mexico.</p>
  </div>
  <div class="about-item left" appFadeOnScroll>
    <h2>This is</h2>
    <p>placeholder text</p>
  </div>
  <div class="about-item right" appFadeOnScroll>
    <h2>Just so you can see the</h2>
    <p>fade in and fade out effect</p>
  </div>
  <div class="about-item left" appFadeOnScroll>
    <h2>As you scroll up or down</h2>
    <p>On the page. (Basically, this page is WIP)</p>
  </div>
</div>