<div class="home-container">
  <div class="icon-container">
    <a href="https://github.com/Czatar" target="_blank" class="icon-link">
      <img src="assets/images/github.png" alt="GitHub" class="icon-image">
    </a>
    <a href="https://www.linkedin.com/in/czatarain01/" target="_blank" class="icon-link">
      <img src="assets/images/linkedin.png" alt="LinkedIn" class="icon-image">
    </a>
  </div>
  <h1 class="welcome-text">Welcome to my website!</h1>
  <h2 class="welcome-text">This page is WIP</h2>
</div>
