<div class="home-container">
  <div class="icon-container">
    <a href="https://github.com/Czatar" target="_blank" class="icon-link">
      <img src="assets/images/github.png" alt="GitHub" class="icon-image">
    </a>
    <a href="https://www.linkedin.com/in/czatarain01/" target="_blank" class="icon-link">
      <img src="assets/images/linkedin.png" alt="LinkedIn" class="icon-image">
    </a>
  </div>
  <h1 class="welcome-text contrast-1">Welcome to my website!</h1>
  <h2 class="welcome-text contrast-1">Made With:</h2>
  <div class="welcome-text tools-container contrast-1">
  <h2 class="tool">
    <a target="_blank" href="https://azure.microsoft.com/en-us/free">
      <img src="assets/images/azure.png" alt="Microsoft Azure Logo">
    </a>
  </h2>
  <h1 class="tool">+</h1>
  <h2 class="tool">
    <a target="_blank" href="https://angular.dev/">
      <img src="assets/images/angular.png" alt="Angular Logo">
    </a>
  </h2>
</div>
</div>
