<div class="settings-button-container">
  <div class="button-wrapper" [ngClass]="{'visible': areButtonsVisible}">
    <button class="settings-button color-3 contrast-1" (click)="toggleTheme()">
      <img src="assets/images/sun_icon.png" alt="Toggle Theme" class="button-image">
    </button>
  </div>
  <div class="button-wrapper" [ngClass]="{'visible': areButtonsVisible}">
    <button class="settings-button color-3 contrast-1" (click)="toggleSlider()">
      <img src="assets/images/text_icon.png" alt="Change Font Size" class="button-image">
    </button>
    <div class="slider contrast-1" *ngIf="isSliderVisible">
      <input type="range" min="12" max="20" [(ngModel)]="fontSize" (input)="adjustFontSize()">
    </div>
  </div>
  <button class="menu-button color-3" (click)="toggleButtonsVisibility()">
    <img src="assets/images/menu_icon.png" alt="Menu Button" class="button-image">
  </button>
</div>
